.total {
    width: 250px;
    height: 400px;
}

.vut {
    width: 200px;
    height: 260px;
    background: #ff0000 position: fixed;
    left: 50px;
    top: 300px;
}

.contenedorQR {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px 125px;
}